# 動手做 ----------------------------------

# 美國犯罪分析

#### 題目: 讀取crime.xlsx，進行美國犯罪分析:
* 將Year設為index
* 刪除名為Total的列
* 何時是美國歷史上生存最危險(各種犯罪Murder...統計值最高)的年代？
* 美國歷史上犯罪Murder最高的前五年？
* 查看每十年(1961, 1971)的犯罪統計，看是否有改善？
* 美國歷史上犯罪Murder最高的前五年？

In [3]:
import pandas as pd
import numpy as np

path = r'C:\Users\tsiot07\Desktop\00. Python_Code\2-2.Pandas_example\crime.xlsx'
crime = pd.read_excel(path)

crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

* 將Year設為index

In [117]:
crime = crime.set_index('Year', drop = True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

* 刪除名為Total的列

In [118]:
del crime['Total']
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

* 何時是美國歷史上生存最危險(各種犯罪Murder...統計值最高)的年代？

In [323]:
crime.idxmax(0)

Population            2014
Violent               1992
Property              1991
Murder                1991
Forcible_Rape         1992
Robbery               1991
Aggravated_assault    1993
Burglary              1980
Larceny_Theft         1991
Vehicle_Theft         1991
dtype: int64

* 美國歷史上犯罪Murder最高的前五年？

In [316]:
crime_top5 = crime.sort_values(by='Murder', ascending=False)
crime_top5[0:5]

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1991,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1993,257908000,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1992,255082000,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1990,248709873,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1994,260341000,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300

* 查看每十年(1961, 1971)的犯罪統計，看是否有改善？

In [125]:
crime.query('Year % 10 == 1')

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1971,206212000,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1981,229146000,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1991,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
2001,285317559,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2011,311587816,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508

# 補充說明 (idxmax)

In [ ]:
crime.idxmax(0)

In [326]:
import pandas as pd 
# Creating the dataframe  
df = pd.DataFrame({"A":[4, 5, 2, 6],  
                   "B":[11, 2, 5, 8], 
                   "C":[1, 8, 66, 4]}) 
df.idxmax(axis = 0)

A    3
B    0
C    2
dtype: int64

In [328]:
df

   A   B   C
0  4  11   1
1  5   2   8
2  2   5  66
3  6   8   4

In [327]:
df.idxmax(axis = 1)

0    B
1    C
2    C
3    B
dtype: object

# 動手做 ----------------------------------

# 2012歐洲杯足球賽資料分析

#### 題目: 讀取Euro2012_stats.csv，進行分析:
* 有多少球隊參與了2012歐洲杯？
* 進球數前五的國家
* 將黃牌和紅牌重新整理在discipline的表單
* 按照先紅卡（由多到少）再黃卡進行排序
* 找到進球數進球超過5的球隊數據
* 找到英格蘭（England），義大利（Italy）和俄羅斯（Russia）的射正率

In [4]:
import pandas as pd

path = r'C:\Users\tsiot07\Desktop\00. Python_Code\2-2.Pandas_example\Euro2012_stats.csv'

euro12 = pd.read_csv(path)
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

* 有多少球隊參與了2012歐洲杯？

In [201]:
euro12.shape[0]

16

* 進球數前五的國家

In [452]:
euro12.sort_values(by='Goals', ascending=False).head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16

* 將黃牌和紅牌重新整理在discipline的表單

In [454]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

* 按照先紅卡（由多到少）再黃卡進行排序

In [455]:
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

* 找到進球數進球超過5的球隊數據

In [458]:
euro12[euro12.Goals > 5]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

* 找到英格蘭（England），義大利（Italy）和俄羅斯（Russia）的射正率

In [206]:
euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [1]:
import os

os.getcwd()

'C:\\Users\\tsiot07\\Desktop\\00. Python_Code\\2-2.Pandas_example'