# 動手做 ----------------------------------

# 合歡山氣象分析

#### 題目: 讀取weather.xlsx，進行氣象分析:
* 對於全體數據，計算所有氣候資料(最高氣壓、氣溫、相對濕度...)的平均值
* 將"氣溫(℃)"以最低溫度到最高溫度依序列出整張表
* 列出'降水量(mm)'最高的前五個時間，並列出"相對溼度(%)"做為參考。
* 先將中文"氣溫(℃)"轉為"temperature"，列出大於temperature > 6 的時間

In [106]:
import pandas as pd
import numpy as np

weather = pd.read_excel('weather.xlsx',index_col="觀測時間(day)")

weather.head()

           測站最高氣壓(hPa)  氣溫(℃)  相對溼度(%)  風速(m/s)  風向(360degree)  降水量(mm)
觀測時間(day)
1                679.4    4.2       77      1.1            306      0.0
2                677.7    5.1       56      0.6            349      0.0
3                675.2    2.6       74      0.9            304     16.0
4                676.8    2.9       42      1.0            295      0.0
5                676.5    2.6       67      0.8            342      2.5

# 動手做 ----------------------------------

# 探索風速數據

#### 題目: 讀取wind_data.csv，進行分析:
* 缺失資料統計
* 計算全體數據的風速平均值
* 按照年為頻率，顯示採樣資料
* 新建表單loc_stats，計算每個地區的風速偏移，最小值，最大值，平均值和標準差
* 並將表單loc_stats存入檔案wind_loc_stats.csv

In [30]:
import pandas as pd
import datetime

path = r'C:/Users/tsiot07/Desktop/00. Python_Code/2-2.Pandas_example/wind_data.csv'

wind = pd.read_csv(path)
wind

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,' ' 13,.17 9,0.29,NaN 9,.87 13,.67 10,.25 10,.83 12,.58 18,.50 15.04
1,61,1,2,14.71,NaN,10.83,6.5,12.62,7.67,11.5,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.5,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,",11.4",2 6.1,7 10.7,1 8.2,1 11.9,2 6.5,4 10.9,2 10.3,4 12.9,2 11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.5,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [3]:
import os

os.getcwd()

'C:\\Users\\tsiot07\\Desktop\\00. Python_Code\\2-2.Pandas_example'