# 動手做 ----------------------------------

# 合歡山氣象分析

#### 題目: 讀取weather.xlsx，進行氣象分析:
* 對於全體數據，計算所有氣候資料(最高氣壓、氣溫、相對濕度...)的平均值
* 將"氣溫(℃)"以最低溫度到最高溫度依序列出整張表
* 列出'降水量(mm)'最高的前五個時間，並列出"相對溼度(%)"做為參考。
* 先將中文"氣溫(℃)"轉為"temperature"，列出大於temperature > 6 的時間

In [106]:
import pandas as pd
import numpy as np

weather = pd.read_excel('weather.xlsx',index_col="觀測時間(day)")

weather.head()

           測站最高氣壓(hPa)  氣溫(℃)  相對溼度(%)  風速(m/s)  風向(360degree)  降水量(mm)
觀測時間(day)
1                679.4    4.2       77      1.1            306      0.0
2                677.7    5.1       56      0.6            349      0.0
3                675.2    2.6       74      0.9            304     16.0
4                676.8    2.9       42      1.0            295      0.0
5                676.5    2.6       67      0.8            342      2.5

* 對於全體數據，計算所有氣候資料(最高氣壓、氣溫、相對濕度...)的平均值

In [107]:
weather.describe()

,測站最高氣壓(hPa),氣溫(℃),相對溼度(%),風速(m/s),風向(360degree),降水量(mm)
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,677.625806,3.690323,84.677419,0.893548,310.967742,15.645161
std,1.980903,1.811694,19.730496,0.208063,11.058884,28.192255
min,673.000000,-0.200000,34.000000,0.400000,295.000000,0.000000
25%,676.500000,2.650000,75.500000,0.750000,304.000000,0.000000
50%,677.800000,3.800000,94.000000,0.900000,309.000000,2.000000
75%,679.000000,5.000000,100.000000,1.050000,311.500000,16.000000
max,681.600000,7.100000,100.000000,1.300000,349.000000,108.500000

In [86]:
weather.mean()

測站最高氣壓(hPa)      677.625806
氣溫(℃)              3.690323
相對溼度(%)           84.677419
風速(m/s)            0.893548
風向(360degree)    310.967742
降水量(mm)           15.645161
dtype: float64

* 將"氣溫(℃)"以最低溫度到最高溫度依序列出整張表

In [291]:
result = weather.sort_values("氣溫(℃)")
result

           測站最高氣壓(hPa)  氣溫(℃)  相對溼度(%)  風速(m/s)  風向(360degree)  降水量(mm)
觀測時間(day)
13               677.7   -0.2       97      0.4            303      0.0
12               675.9   -0.1       91      1.1            317      2.0
11               673.0    0.7      100      1.2            310      5.0
14               678.1    1.0      100      0.7            303      0.5
10               673.4    1.9      100      0.9            304     55.0
8                675.6    2.5      100      0.7            312     40.5
3                675.2    2.6       74      0.9            304     16.0
5                676.5    2.6       67      0.8            342      2.5
15               678.4    2.7      100      0.8            299      8.0
16               677.8    2.9      100      0.9            310     14.5
4                676.8    2.9       42      1.0            295      0.0
31               679.0    3.3       99      0.9            315      0.0
17               679.0    3.4      100      1.0            309      3.5
25               679.1    3.5       91      0.8            311     24.0
18               678.4    3.7      100      1.3            311      2.0
24               677.5    3.8      100      0.6            304     47.0
7                675.6    3.9      100      0.9            311    102.5
19               679.3    4.2       94      1.1            306      0.0
1                679.4    4.2       77      1.1            306      0.0
23               677.9    4.4      100      0.9            311      7.0
6                676.5    4.4      100      1.2            319     28.5
22               678.1    4.8       78      0.9            308      0.0
9                675.0    4.9      100      1.0            315    108.5
2                677.7    5.1       56      0.6            349      0.0
30               677.5    5.1       89      1.1            308     16.0
26               681.2    5.4       34      0.8            302      0.0
28               678.5    5.4       80      1.1            309      0.0
20               679.7    5.8       81      0.7            303      0.0
29               677.4    6.2       68      1.0            326      2.0
27               681.6    6.3       47      0.7            309      0.0
21               679.6    7.1       60      0.6            309      0.0

* 列出'降水量(mm)'最高的前五個時間，並列出"相對溼度(%)"做為參考。

In [310]:
rain_top5 = weather.sort_values(by='降水量(mm)', ascending=False)

rain_top5[0:5]
#rain_top5.loc[0:5,['降水量(mm)',"相對溼度(%)"]]

           測站最高氣壓(hPa)  氣溫(℃)  相對溼度(%)  風速(m/s)  風向(360degree)  降水量(mm)
觀測時間(day)
9                675.0    4.9      100      1.0            315    108.5
7                675.6    3.9      100      0.9            311    102.5
10               673.4    1.9      100      0.9            304     55.0
24               677.5    3.8      100      0.6            304     47.0
8                675.6    2.5      100      0.7            312     40.5

In [309]:

weather.loc[0:5,['降水量(mm)',"相對溼度(%)"]]

           降水量(mm)  相對溼度(%)
觀測時間(day)
1              0.0       77
2              0.0       56
3             16.0       74
4              0.0       42
5              2.5       67

* 先將中文"氣溫(℃)"轉為"temperature"
* 列出大於temperature > 6 的時間

In [311]:
w2 = weather.rename(columns={"氣溫(℃)": "temperature"})
w2[w2.temperature>6]

           測站最高氣壓(hPa)  temperature  相對溼度(%)  風速(m/s)  風向(360degree)  降水量(mm)
觀測時間(day)
21               679.6          7.1       60      0.6            309      0.0
27               681.6          6.3       47      0.7            309      0.0
29               677.4          6.2       68      1.0            326      2.0

# 動手做 ----------------------------------

# 探索風速數據

#### 題目: 讀取wind_data.csv，進行分析:
* 缺失資料統計
* 計算全體數據的風速平均值
* 按照年為頻率，顯示採樣資料
* 新建表單loc_stats，計算每個地區的風速偏移，最小值，最大值，平均值和標準差
* 並將表單loc_stats存入檔案wind_loc_stats.csv

In [9]:
import pandas as pd
import datetime

path = 'C:/Users/tsiot07/Desktop/00. Python_Code/2-2.Pandas_example/wind_data.csv'

wind = pd.read_csv(path)
wind

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,' ' 13,.17 9,0.29,NaN 9,.87 13,.67 10,.25 10,.83 12,.58 18,.50 15.04
1,61,1,2,14.71,NaN,10.83,6.5,12.62,7.67,11.5,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.5,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,",11.4",2 6.1,7 10.7,1 8.2,1 11.9,2 6.5,4 10.9,2 10.3,4 12.9,2 11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.5,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

* 缺失資料統計

In [213]:
wind.isnull().sum()

Yr     0
Mo     0
Dy     0
RPT    6
VAL    3
ROS    2
KIL    5
SHA    1
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

* 計算全體數據的風速平均值

In [215]:
wind.mean().mean()

22.95190145623668

In [216]:
wind.describe()

                Yr           Mo           Dy          RPT          VAL
count  6574.000000  6574.000000  6574.000000  6568.000000  6571.000000
mean     69.500304     6.523274    15.728628    12.362987    10.644314
std       5.188131     3.448871     8.800335     5.618413     5.267356
min      61.000000     1.000000     1.000000     0.670000     0.210000
25%      65.000000     4.000000     8.000000     8.120000     6.670000
50%      69.500000     7.000000    16.000000    11.710000    10.170000
75%      74.000000    10.000000    23.000000    15.920000    14.040000
max      78.000000    12.000000    31.000000    35.800000    33.370000

In [ ]:
* 按照年為頻率，顯示採樣資料

In [217]:
wind.query('Mo == 1 and Dy == 1')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,' ' 13,.17 9,0.29,NaN 9,.87 13,.67 10,.25 10,.83 12,.58 18,.50 15.04
365,62,1,1,9.29,3.42,11.54,3.5,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92
730,63,1,1,15.59,13.62,19.79,8.38,12.25,10,23.45,15.71,13.59,14.37,17.58,34.13
1095,64,1,1,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21
1461,65,1,1,9.54,11.92,9,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41
1826,66,1,1,22.04,21.50,17.08,12.75,22.17,15.59,21.79,18.12,16.66,17.83,28.33,23.79
2191,67,1,1,6.46,4.46,6.5,3.21,6.67,3.79,11.38,3.83,7.71,9.08,10.67,20.91
2556,68,1,1,30.04,17.88,16.25,16.25,21.79,12.54,18.16,16.62,18.75,17.62,22.25,27.29
2922,69,1,1,6.13,1.63,5.41,1.08,2.54,1,8.5,2.42,4.58,6.34,9.17,16.71
3287,70,1,1,9.59,2.96,11.79,3.42,6.13,4.08,9,4.46,7.29,3.5,7.33,13
3652,71,1,1,3.71,0.79,4.71,0.17,1.42,1.04,4.63,0.75,1.54,1.08,4.21,9.54
4017,72,1,1,9.29,3.63,14.54,4.25,6.75,4.42,13,5.33,10.04,8.54,8.71,19.17
4383,73,1,1,16.50,15.92,14.62,7.41,8.29,11.21,13.54,7.79,10.46,10.79,13.37,9.71
4748,74,1,1,23.21,16.54,16.08,9.75,15.83,11.46,9.54,13.54,13.83,16.66,17.21,25.29
5113,75,1,1,14.04,13.54,11.29,5.46,12.58,5.58,8.12,8.96,9.29,5.17,7.71,11.63
5478,76,1,1,18.34,17.67,14.83,8,16.62,10.13,13.17,9.04,13.13,5.75,11.38,14.96
5844,77,1,1,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9,9,14.88,25.7
6209,78,1,1,8.33,7.12,7.71,3.54,8.5,7.5,14.71,10,11.83,10,15.09,20.46

* 新建表單loc_stats，計算每個地區的風速偏移，最小值，最大值，平均值和標準差

In [27]:
loc_stats = pd.DataFrame()

loc_stats['min'] = wind.min() # min
loc_stats['max'] = wind.max() # max 
loc_stats['mean'] = wind.mean() # mean
loc_stats['std'] = wind.std() # standard deviations

loc_stats[3:]

        min     max       mean       std
RPT    0.67    35.8  12.362987  5.618413
VAL    0.21   33.37  10.644314  5.267356
BIR       0  NaN  9        NaN       NaN
BEL  .58 18    9.96        NaN       NaN

* 並將表單loc_stats存入檔案wind_loc_stats.csv

In [28]:
wind_loc_stats = loc_stats[3:].round(2)
wind_loc_stats

        min     max   mean   std
RPT    0.67    35.8  12.36  5.62
VAL    0.21   33.37  10.64  5.27
BIR       0  NaN  9    NaN   NaN
BEL  .58 18    9.96    NaN   NaN

In [29]:
wind_loc_stats.reset_index(inplace=True)
wind_loc_stats.to_csv('wind_loc_stats.csv', encoding='utf-8', index=False)

In [3]:
import os

os.getcwd()

'C:\\Users\\tsiot07\\Desktop\\00. Python_Code\\2-2.Pandas_example'